body {
    width: 962px;
    margin: 0 auto;
}

#idMainimg01{
    position:relative;
    text-align:center;
    z-index:2;
    margin:0 auto;
}
#idMainimg01 div {
    display:none;
    position:absolute;
    left:0;
    top:0;
}
#idMainimg01 div#rImg1{
    display: block;
}

#viewer {
    margin: 0 auto;
    width: 962px;
    height: 1733px;
    text-align: left;
    overflow: hidden;
    position: relative;
}

#viewer img {
    top: 0;
    left: 0;
    position: absolute;
}