body.elegant {
    width: 962px;
    height: 1733px;
    margin: 0 auto;
}
body.cafespa {
    width: 784px;
    height: 927px;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

div.elegant {
    top: 240px;
    width: 962px;
    height: 1733px;
    text-align: left;
    overflow: hidden;
    position: relative;
}
div.cafespa {
    width: 784px;
    height: 927px;
    text-align: left;
    overflow: hidden;
    position: relative;
}
#viewer img {
    top: 0;
    left: 0;
    position: absolute;
}